<section class="container">
  <h2 class="pt-4">¿CÓMO TE PODEMOS AYUDAR?</h2>
  <div class="grid">
    <figure class="effect-layla">
      <img src="./assets/19.jpg" alt="img06" />
      <figcaption>
        <h2>Diseño</h2>
        <p>
          Damos prioridad a que el usuario tenga la mejor experiencia posible a través del Diseño UX. Este es el
          proceso de mejorar la usabilidad, accesibilidad y estética provista en la interacción con el producto.
        </p>
        <!-- <a href="#">View more</a> -->
      </figcaption>
    </figure>
    <figure class="effect-ruby">
      <img src="./assets/19.jpg" alt="img13" />
      <figcaption>
        <h2>Desarrollo <span>Web</span></h2>
        <p>
          Comprendemos la importancia de contar con presencia en internet. Por ello, nos enfocamos en crear
          desarrollos web de alto impacto, que ayuden a nuestros clientes a convertir a los usuarios que visitan sus
          sitios en futuros consumidores de los servicios ofrecidos.
        </p>
        <!-- <a href="#">View more</a> -->
      </figcaption>
    </figure>
    <figure class="effect-marley">
      <img src="./assets/19.jpg" alt="img11" />
      <figcaption>
        <h2>Desarrollo de <span>sistemas complejos</span></h2>
        <p>
          Si nuestros clientes necesitan actualizar algún proceso de su empresa o quieren lanzar un nuevo servicio
          tecnológico al mercado, nosotros podemos ayudar.
        </p>
        <!-- <a href="#">View more</a> -->
      </figcaption>
    </figure>
  </div>
</section>