<swiper [config]="config">
  <div class="client-container wizi">
    <img class="pr-4" width="300px" src="./assets/wizi.png" alt="wizi logo">
    <p style="width: 40%; color:white">
      Una app cuyo objetivo es facilitar a las personas solicitar el servicio de auto lavado
      a domicilio, evitándole al solicitante lidiar con el tráfico de la ciudad, el
      consumo de gasolina y los riesgos que conlleva circular.
    </p>
  </div>
  <div class="client-container motor">
    <img class="pr-4" width="300px" src="./assets/moto-friends.jpg" alt="wizi logo">
    <p style="width: 40%; color:white">
      Una app cuyo objetivo es proporcionar un conjunto de funcionalidades para que
      de manera rápida, fácil y confiable se realice la gestión de miembros y la transmisión
      de información como noticias, videos, galería y recorridos entre los integrantes del grupo.
    </p>
  </div>
</swiper>