.client-container{
    width: 80%; 
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    border-top-right-radius: 20% 5%;
    border-top-left-radius: 20% 5%;
    border-bottom-right-radius: 20% 5%;
    border-bottom-left-radius: 20% 5%;
}

.wizi{
    background: #f3c339;
}

.motor{
    background: #111;

}